<div class="mh-100">
  <div class="card border-dark m-1 ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="@{'http://localhost:9092/image/?name='}" class="card-img"
             alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Name:</p>
          <p class="card-text" ></p>
        </div>

        <ul class="list-group list-group-flush card-body">
          <li class="list-group-item">
          <li class="list-group-item ">
            <div class="row">
              <p class="col">Description:</p>
              <p class="col" ></p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="row">
              <p class="col">Type:</p>
              <p class="col" ></p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="row">
              <p class="col">Make a reservation:</p>
              <p class="col">
              <form class="col mt-1" method="post" >
                <label>
                  <input name="documentId"  readonly hidden="hidden">
                </label>
                <label>
                  <input name="documentName"  readonly hidden="hidden">
                </label>
                <button class="btn btn-primary" type="submit">Reserve</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
