<html>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Système de réservation municipal</h1>
    <p class="lead">Pour la période de quarantaine due au <strong>coronavirus</strong>. Les heures d'ouverture et le nombre de visiteurs sont limités dans tous les lieux publics municipaux.</p>
    <p class="lead">Pour une organisation plus confortable de votre visite, vous pouvez utiliser ce site.
      Où vous pouvez voir une liste des lieux publics avec leurs heures d'ouverture et réserver votre visite à un moment qui vous convient</p>
    <br>
    <p class="lead">
      <a [routerLink]="['/home']" class="btn btn-lg btn-secondary">Voir la liste</a>
    </p>
  </main>
</div>
</body>
</html>
