<div>
  <div class="card border-dark m-2 text-center">
    <div class="card-header">
      Modifier le commentaire
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <textarea class="form-control" id="textared" rows="3" formControlName="text">{{comment.text}}</textarea>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary mr-5" (click)="closeMod.emit(null)" data-dismiss="modal">Fermer</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="modifyComment()">Modifier
      </button>
    </div>
  </div>
</div>

